@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* 
    ! Please myself of the future, Comment more the code.
    ! Seriously it helps so much especially in js,
    ! and also make this code more sorted to help me find the right element,
    ! Thanks in advance!
*/

.content {
    /* margin || padding: top left bottom right */
    opacity: 87%;
    z-index: 1;
}

.container {
    z-index: 1;
    font-family: 'Amatic SC', cursive;
    font-size: 1.75rem;
    font-weight: 900;
}

#About_me>p {
    margin: 1rem 1rem 4rem 4rem;
    font-weight: 400;
    font-size: 1.25rem;
}

#Interest .title {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0 0 0 1rem;
    font-weight: 200;
    border-bottom: 0.15rem solid #ebebeb;
}

#Interest .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-row-gap: 3rem;
    justify-items: center;
    margin: 1rem 0 1rem 0;
}

.interests {
    position: relative;
    display: inline-flex;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
    width: 25%;
    min-width: 337px;
    height: 15rem;
    border: 0.25rem double white;
    background-image: linear-gradient(to bottom, rgba(27, 0, 36, 0.5), rgba(21, 15, 31, 0.8)), var(--banner);
    background-position: center;
    background-size: 25rem;
    background-color: #00122763;
    transition: all 1s cubic-bezier(0, 1.2, 1, 1), transform 1s calc(var(--n, 0) * 100ms) cubic-bezier(0, 1.2, 1, 1), opacity 1s calc(var(--n, 0) * 100ms) cubic-bezier(0, 1.2, 1, 1);
    color: white;
    text-decoration: none;
}

.interests:hover {
    background-size: 30rem;
    background-position-x: var(--x);
    background-position-y: var(--y);
    transform: perspective(1000px) scale3d(1.075, 1.075, 1.075);
    transition: all 1s cubic-bezier(0, 1.2, 1, 1);
}

.interests::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 20px 20px 0px rgb(8, 3, 10);
    border: 0.25rem double white;
    opacity: 0;
}

.interests:hover::after {
    opacity: 87%;
}

#Footer {
    margin: 5rem 0 0 0;
    border-top: 0.15rem solid #ffffff9a;
    border-bottom: 0.05rem solid #cccccc7a;
    background:
        linear-gradient(135deg, #333333c7 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #33333342 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #333333c7 25%, transparent 25%),
        linear-gradient(45deg, #33333342 25%, transparent 25%);
    background-size: 100px 100px;
}

/* 
.treeFigure > * {
    margin: 2rem 1rem 0 9rem;
    max-width: 100%;
    width: 15%;
    height: auto;
} */

/* 
@media (prefers-color-scheme: dark) {
    img {
        filter: brightness(.8) contrast(1.2);
    }

    body {
        background: #121212;
    }
} */

@media (width: 500px) {
    #Name {
        margin: 1rem 0rem 0 2rem;
    }
}