@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* 
    ! Please myself of the future, Comment more the code.
    ! Seriously it helps so much especially in js,
    ! and also make this code more sorted to help me find the right element,
    ! Thanks in advance!
*/

.content {
    /* margin || padding: top left bottom right */
    opacity: 87%;
    z-index: 1;
}

.container {
    z-index: 1;
    font-family: 'Amatic SC', cursive;
    font-size: 1.75rem;
    font-weight: 900;
}

.interests {
    z-index: 20;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Nunito', sans-serif;
    width: 90%;
    min-width: 337px;
    height: 15rem;
    border-top: 0.25rem double white;
    border-bottom: 0.25rem double white;
    background-image: var(--banner);
    transition: 
        all 1s cubic-bezier(0, 1.2, 1, 1),
        transform 1s calc(var(--n, 0) * 100ms) cubic-bezier(0, 1.2, 1, 1),
        opacity 1s calc(var(--n, 0) * 100ms) cubic-bezier(0, 1.2, 1, 1);
    color: white;
    text-decoration: none;
}

.interests * {
    z-index: 20;
}

.interests p {
    margin: 0 0 0 15%;
}

.interests:hover {
    scale: 1.05;
}

.interests::before {
    content: "";
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(135deg, #210e25 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #492f5f 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #210e25 25%, transparent 25%),
        linear-gradient(45deg, #492f5f 25%, transparent 25%);
    opacity: 0.75;
}

.interests::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(45, 94, 102, 1), rgba(95, 34, 85, 1));
    opacity: 0.45;
    transition: all 1s cubic-bezier(0, 1.2, 1, 1);
}

.interests:hover::after {
    opacity: 0.65;
}

#Footer {
    margin: 5rem 0 0 0;
    border-top: 0.15rem solid #ffffff9a;
    border-bottom: 0.05rem solid #cccccc7a;
    background:
        linear-gradient(135deg, #333333c7 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #33333342 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #333333c7 25%, transparent 25%),
        linear-gradient(45deg, #33333342 25%, transparent 25%);
    background-size: 100px 100px;
}

#Footer * {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

#Footer h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 1.8rem;
}

#Footer > * {
    padding: 0 0 0 1rem;
}

#Footer > div {
    margin: 1rem;
    padding: 1rem 0;
    border-top: 0.15rem solid white;
    border-bottom: 0.15rem solid white;
}

#Footer > div img {
    margin-right: 1rem;
}

/* 
.treeFigure > * {
    margin: 2rem 1rem 0 9rem;
    max-width: 100%;
    width: 15%;
    height: auto;
} */

/* 
@media (prefers-color-scheme: dark) {
    img {
        filter: brightness(.8) contrast(1.2);
    }

    body {
        background: #121212;
    }
} */

@media (width: 500px) {
    #Name {
        margin: 1rem 0rem 0 2rem;
    }
}